body,h1,h2,h3,figure,ul,li{
    padding:0;
    margin:0;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}
.subtitle{
    font-size: 14px;
    color: #7fa9aa;
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
    @media (min-width:768px) {
        font-size: 18px;
    }
}
h1,h2,h3{
    font-family: 'Noto Sans JP',sans-serif;
}

@mixin padding($value:20px){
    padding-left: $value;
    padding-right: $value;
}

// ヘッダ
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 18px;
    .logo{
        font-family: 'Montserrat',sans-serif;
        font-size: 24px;
        font-weight: bold;   
    }
    .nav{
        margin-top: 20px;
        ul{
            display: flex;
            width: 196px;
            justify-content: space-between;
            li{ 
                a{
                    color: #222;
                    font-size: 12px;
                }
            }
        }
    }
    @media (min-width:768px) {
        max-width: 1088px;
        margin: 0 auto;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 44px;
        padding-bottom: 44px;
        .nav{
            margin-top: 0;
            ul{
                width: 280px;
                li{
                    a{
                        font-size: 16px;
                    }
                }
            }

        }
    
    }
}
// フッタ
.footer{
    padding:{
        top: 36px;
        bottom: 36px;
        left: 20px;
    }
    .left{
        .logo{
            font-family: 'Montserrat',sans-serif;
            font-size: 24px;
            font-weight: bold;   
        }
        address{
            font-style: normal;
            font-size: 12px;
            margin-top: 13px;
        }
    }
    .right{
        .nav{
            margin-top: 35px;
            width: 260px;
            ul{
                display: flex;
                justify-content: space-between;
                li{
                    a{
                        font-size: 11px;
                        color: #222;
                    }
                }
            }
        }
        small{
            font-size: 11px;
        }
    }
    @media (min-width:768px) {
        max-width: 1088px;
        padding-left: 0;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left{
            address{
                font-size: 12px;
            }
        }
        .right{
            text-align: right;
            .nav{
                margin-top: 0;
                width: 320px;
                ul{
                    li{
                        a{
                            font-size: 12px;
                        }
                    }
                }
            }
            small{
                font-size: 12px;
            }
        }
    
    }
}
// content.htmlメインイメージ
.headerimg{
    img{
        width: 100%;
        height: 200px;
        object-fit: cover;
        @media (min-width:768px) {
            height:393px;
        }
    }
}
// メッセージパーツmsg
.msg{
    background-image: url(img/wall.jpg);
    padding-top: 92px;
    padding-bottom: 92px;
    @include padding();
    text-align: center;
    h2{
        font-size: 24px;
        color:#fff;
    }
    p{
        font-size: 12px;
        color: #fff;
    }
    @at-root .btn{
        font-size: 16px;
        color: white;
        display: inline-block;
        background-color: #f1a816;
        padding: 10px 40px;
        border-radius: 4px;
        margin-top: 42px;
        &:hover{
            background-color: #ea8c06;
            // background-color: #7fa9aa;
        }
    }
    @media (min-width:768px) {
        h2{
            font-size: 36px;
        }
        p{
            font-size: 16px;
            max-width: 515px;
            margin-left:auto;
            margin-right: auto;
        }
        @at-root .btn{
            font-size: 18px;
            margin-top: 60px;
        }    
    }
}
// content.htmlメインコンテンツ
.content{
    margin-top: 36px;
    @at-root h1{
        font-size: 32px;
        br{
            display: none;
        }
    }
    h2{
        display:flex;
        align-items: center;
        // color: red;
    }
    h2::before{
        content: url(img/mark.svg);
        margin-right: 10px;
        line-height: 1;
        // 擬似要素をネストするとなぜか::の前に空白ができて動かなくなる
    }
    p{
        font-size: 14px;
    }
    @media (min-width:768px) {
        max-width: 720px;
        margin:{
            top: 64px;
            right:auto;
            bottom: 90px;
            left:auto;
        }
        h1{
            font-size: 48px;
            br{
                display: inline;
            }
        }
        p{
            font-size: 18px;
            // margin-top: 40px;
        }
        .content-box{
            h2{
                font-size: 28px;
                margin-bottom: 4opx;
            }
            margin-top: 90px;
        }
    }
}

// index.html
// .hero
.hero{
    margin-bottom: 74px;
    img{
        width: 100%;
        height: 434px;
        object-fit: cover;
    }
    .text{
        margin-top:-65px;
        @include padding();
    }
    @media (min-width:768px) {
        max-width: 1088px;
        margin-left:auto;
        margin-right:auto;
        display: flex;
        flex-direction: row-reverse;
        img{
            height: 560px;
        }
        .text{
            margin-top: 110px;
            margin-right: -139px;
            @include padding(0);

        }
        h1{
            margin-top: 21px;
            font-size: 48px;
            font-weight: bold;
            br{
                display: inline;
            }
        }
    }
}
// ご自宅からオフィスまで
.top-msg{
    padding-top: 110px;
    padding-bottom: 110px;
    @include padding;
    background-image: url(img/plan.jpg);
    text-align: center;
    color: #fff;
    box-sizing: border-box;
    h2{
        font-size: 24px;
    }
    p{
        font-size: 12px;
    }
    @media (min-width:768px) {
        max-width: 1088px;
        margin: 0 auto;
        // text-align: right;
        h2{
            max-width: 515px;
            font-size: 36px;
            margin-left: auto;
            margin-right: 0;
            text-align: left;
        }
        p{
            max-width: 515px;
            font-size: 16px;
            margin-left: auto;
            margin-right: 0;
            text-align: left;
        }
    }
}
.systems{
    margin-top: 74px;
    margin-bottom: 74px;
    @include padding();
    .subtitle{
        text-align: center;
    }
    h2{
        text-align: center;
        font-size: 22px;
        margin-top: 18px;
        margin-bottom: 67px;
    }
    .system-box{
        margin-top: 54px;
        figure{
            text-align: center;
            img{
                height: 82px;
                width: 82px;
                border-radius: 50%;
                border: 8px solid #7fa9aa;
            }
        }
        .text{
            .subtitle{
                margin-top: 31px;
                font-weight: normal;
                color: #888;
            }
            h3{
                margin-top: 10px;
                margin-bottom: 20px;
                text-align: center;
                font-size: 20px;
            }
            p{
                font-size: 14px;
            }
        }
    }
    @media (min-width:768px) {
        margin-top: 110px;
        margin-bottom: 110px;
        h2{
            text-align: center;
            font-size: 28px;
            margin-top: 18px;
            margin-bottom: 67px;
        }
        .system-box{
            display: flex;
            align-items: center;
            margin-top: 47px;
            margin-right: auto;
            margin-left: auto;
            max-width: 1088px;
            figure{
                flex: 0 0 307px;
                img{
                    width: 307px;
                    height: 307px;
                    object-fit: cover;
                }
            }
            .text{
                max-width: 615px;
                margin-left: 40px;
                .subtitle{
                    text-align: left;
                    font-size: 14px;
                }
                h3{
                    text-align: left;
                    font-size: 24px;
                }
                p{
                    // text-align: left;
                    font-size: 16px;
                }
            }
        }
        .system-box:nth-child(even){
            flex-direction:row-reverse;
            .text{
                margin-right:40px
            }
        }
    }
}