body, h1, h2, h3, figure, ul, li {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.subtitle {
  font-size: 14px;
  color: #7fa9aa;
  font-family: 'Montserrat',sans-serif;
  font-weight: 700;
}

@media (min-width: 768px) {
  .subtitle {
    font-size: 18px;
  }
}

h1, h2, h3 {
  font-family: 'Noto Sans JP',sans-serif;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  padding-bottom: 18px;
}

.header .logo {
  font-family: 'Montserrat',sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.header .nav {
  margin-top: 20px;
}

.header .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 196px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .nav ul li a {
  color: #222;
  font-size: 12px;
}

@media (min-width: 768px) {
  .header {
    max-width: 1088px;
    margin: 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 44px;
    padding-bottom: 44px;
  }
  .header .nav {
    margin-top: 0;
  }
  .header .nav ul {
    width: 280px;
  }
  .header .nav ul li a {
    font-size: 16px;
  }
}

.footer {
  padding-top: 36px;
  padding-bottom: 36px;
  padding-left: 20px;
}

.footer .left .logo {
  font-family: 'Montserrat',sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.footer .left address {
  font-style: normal;
  font-size: 12px;
  margin-top: 13px;
}

.footer .right .nav {
  margin-top: 35px;
  width: 260px;
}

.footer .right .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .right .nav ul li a {
  font-size: 11px;
  color: #222;
}

.footer .right small {
  font-size: 11px;
}

@media (min-width: 768px) {
  .footer {
    max-width: 1088px;
    padding-left: 0;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .left address {
    font-size: 12px;
  }
  .footer .right {
    text-align: right;
  }
  .footer .right .nav {
    margin-top: 0;
    width: 320px;
  }
  .footer .right .nav ul li a {
    font-size: 12px;
  }
  .footer .right small {
    font-size: 12px;
  }
}

.headerimg img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 768px) {
  .headerimg img {
    height: 393px;
  }
}

.msg {
  background-image: url(img/wall.jpg);
  padding-top: 92px;
  padding-bottom: 92px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.msg h2 {
  font-size: 24px;
  color: #fff;
}

.msg p {
  font-size: 12px;
  color: #fff;
}

.btn {
  font-size: 16px;
  color: white;
  display: inline-block;
  background-color: #f1a816;
  padding: 10px 40px;
  border-radius: 4px;
  margin-top: 42px;
}

.btn:hover {
  background-color: #ea8c06;
}

@media (min-width: 768px) {
  .msg h2 {
    font-size: 36px;
  }
  .msg p {
    font-size: 16px;
    max-width: 515px;
    margin-left: auto;
    margin-right: auto;
  }
  .btn {
    font-size: 18px;
    margin-top: 60px;
  }
}

.content {
  margin-top: 36px;
}

h1 {
  font-size: 32px;
}

h1 br {
  display: none;
}

.content h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content h2::before {
  content: url(img/mark.svg);
  margin-right: 10px;
  line-height: 1;
}

.content p {
  font-size: 14px;
}

@media (min-width: 768px) {
  .content {
    max-width: 720px;
    margin-top: 64px;
    margin-right: auto;
    margin-bottom: 90px;
    margin-left: auto;
  }
  .content h1 {
    font-size: 48px;
  }
  .content h1 br {
    display: inline;
  }
  .content p {
    font-size: 18px;
  }
  .content .content-box {
    margin-top: 90px;
  }
  .content .content-box h2 {
    font-size: 28px;
    margin-bottom: 4opx;
  }
}

.hero {
  margin-bottom: 74px;
}

.hero img {
  width: 100%;
  height: 434px;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero .text {
  margin-top: -65px;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 768px) {
  .hero {
    max-width: 1088px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .hero img {
    height: 560px;
  }
  .hero .text {
    margin-top: 110px;
    margin-right: -139px;
    padding-left: 0;
    padding-right: 0;
  }
  .hero h1 {
    margin-top: 21px;
    font-size: 48px;
    font-weight: bold;
  }
  .hero h1 br {
    display: inline;
  }
}

.top-msg {
  padding-top: 110px;
  padding-bottom: 110px;
  padding-left: 20px;
  padding-right: 20px;
  background-image: url(img/plan.jpg);
  text-align: center;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.top-msg h2 {
  font-size: 24px;
}

.top-msg p {
  font-size: 12px;
}

@media (min-width: 768px) {
  .top-msg {
    max-width: 1088px;
    margin: 0 auto;
  }
  .top-msg h2 {
    max-width: 515px;
    font-size: 36px;
    margin-left: auto;
    margin-right: 0;
    text-align: left;
  }
  .top-msg p {
    max-width: 515px;
    font-size: 16px;
    margin-left: auto;
    margin-right: 0;
    text-align: left;
  }
}

.systems {
  margin-top: 74px;
  margin-bottom: 74px;
  padding-left: 20px;
  padding-right: 20px;
}

.systems .subtitle {
  text-align: center;
}

.systems h2 {
  text-align: center;
  font-size: 22px;
  margin-top: 18px;
  margin-bottom: 67px;
}

.systems .system-box {
  margin-top: 54px;
}

.systems .system-box figure {
  text-align: center;
}

.systems .system-box figure img {
  height: 82px;
  width: 82px;
  border-radius: 50%;
  border: 8px solid #7fa9aa;
}

.systems .system-box .text .subtitle {
  margin-top: 31px;
  font-weight: normal;
  color: #888;
}

.systems .system-box .text h3 {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
}

.systems .system-box .text p {
  font-size: 14px;
}

@media (min-width: 768px) {
  .systems {
    margin-top: 110px;
    margin-bottom: 110px;
  }
  .systems h2 {
    text-align: center;
    font-size: 28px;
    margin-top: 18px;
    margin-bottom: 67px;
  }
  .systems .system-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 47px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1088px;
  }
  .systems .system-box figure {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 307px;
            flex: 0 0 307px;
  }
  .systems .system-box figure img {
    width: 307px;
    height: 307px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .systems .system-box .text {
    max-width: 615px;
    margin-left: 40px;
  }
  .systems .system-box .text .subtitle {
    text-align: left;
    font-size: 14px;
  }
  .systems .system-box .text h3 {
    text-align: left;
    font-size: 24px;
  }
  .systems .system-box .text p {
    font-size: 16px;
  }
  .systems .system-box:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .systems .system-box:nth-child(even) .text {
    margin-right: 40px;
  }
}
/*# sourceMappingURL=style.css.map */